<%- include('../partials/header') %>

        <h1>Your heros list</h1>

<ul>
       <% heros.forEach(function(hero, idx) { %>
         <form action="/favHeros/<%= idx %>?_method=DELETE" method="post">
            <li> <%= hero.name %> </li>
            <button class="btn btn-dark" type="submit">Delete</button>
          <img class= "frame" src="<%= hero.image %>" alt="<%= hero.name %>"> 
        </form>
     <%  }) %>

    </ul>


<%- include('../partials/footer') %>








