<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Heros Data</title>
</head>
<body>
    
    <h1> <%= hero.results[0].name %> </h1>
<ul>
 
  <li>Intelligence: <%= hero.results[0].powerstats.intelligence %> </li> <br>
  <li>Strength <%= hero.results[0].powerstats.strength %> </li> <br>
  <li>Speed <%= hero.results[0].powerstats.speed %> </li> <br>
  <li>Durability <%= hero.results[0].powerstats.durability %> </li> <br>
  <li>Power <%= hero.results[0].powerstats.power %> </li> <br>
  <li>Combat <%= hero.results[0].powerstats.combat %> </li>
</ul>
</body>
</html>

