<%- include('../partials/header') %>

<% function getRandom(min, max) { %>
   <% return Math.random() * (max - min) + min; } %>


<% let randomNum = getRandom(1,731); %>
<% let randomRound = Math.round(randomNum); %>
<% let stringNum = randomRound.toString(); %>



    <div class= "box">
    <h1> <%= hero.results[0].name %> </h1>
 
    <img class="frame" src="<%= hero.results[0].image.url %>" alt=" <=%hero.results[0].name %>">
  
    <form action="/favHeros" method="post"> 
        <input type="hidden" name="name" value="<%= hero.results[0].name %>">
    <button type="submit" class="btn btn-dark">Add Hero</button>
    </form> 
    
   

    <form action="/heros/?_method=D" method="post"> 
        <input type="number" name="name" value="<%=randomRound%>"> </input>
    <button type="submit" class="btn btn-dark">Random Hero</button>
    </form>


<ul>
 
  <li> <b>Intelligence:</b> <%= hero.results[0].powerstats.intelligence %> </li> <br>
  <li> <b>Strength:</b> <%= hero.results[0].powerstats.strength %> </li> <br>
  <li><b>Speed:</b> <%= hero.results[0].powerstats.speed %> </li> <br>
  <li><b>Durability:</b> <%= hero.results[0].powerstats.durability %> </li> <br>
  <li><b>Power:</b> <%= hero.results[0].powerstats.power %> </li> <br>
  <li><b>Combat:</b> <%= hero.results[0].powerstats.combat %> </li> <br>
  <li><b>Publisher:</b> <%= hero.results[0].biography.publisher %> </li> <br>
  <li><b>Alignment:</b> <%= hero.results[0].biography.alignment %> </li> <br>
  <li><b>Gender:</b> <%= hero.results[0].appearance.gender %> </li> <br>
  <li><b>Race:</b> <%= hero.results[0].appearance.race %> </li>
</ul>


<ul> <b>Aliases</b><% hero.results[0].biography.aliases.forEach(function(s) { %>
                        <li> <%= s %> </li>   

    <% }) %> 
</ul>



</div>


<%- include('../partials/footer') %>
