<%- include('../partials/header') %>

        <h1>Your heros list</h1>


    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        
      <div class="carousel-inner">

        <% heros.forEach(function(hero, idx) { %>
         <% if (idx === 0) { %>
            <div class="carousel-item active">

       <%   } else {   %>
            <div class="carousel-item">
      <%    } %>
                <form action="/favHeros/<%= idx %>?_method=DELETE" method="post">
                  <img class= "frame" src="<%= hero.image %>" alt="<%= hero.name %>"> 
                  <h2> <%= hero.name %> </h2>
                  <button class="btn btn-dark" type="submit">Delete</button>
            
                </form>
              </div>
            
              <% }) %>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>

        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>

      </div>

<%- include('../partials/footer') %>








