<%- include('../partials/header') %>

<% function getRandom(min, max) { %>
   <% return Math.random() * (max - min) + min; } %>


<% let randomNum = getRandom(1,731); %>
<% let randomRound = Math.round(randomNum); %>




    <div class= "box">
   
 
    <img class="frame" src="<%= hero.image.url %>" alt=" <=%hero.name %>">
  
    <form action="/favHeros" method="post"> 
        <input type="hidden" name="name" value="<%= hero.name %>">
        <input type="hidden" name="image" value="<%= hero.image.url %>">
        <input type="hidden" name="base" value="<%= hero.work.base %>">
        <input type="hidden" name="occupation" value="<%= hero.work.occupation %>">

    <button type="submit" class="btn btn-dark">Add Hero</button>
    </form> 
    
   


  
<h1> <%= hero.name %> </h1> 
<ul>
 
  <li><b>Intelligence:</b> <%= hero.powerstats.intelligence %> </li> <br>
  <li><b>Strength:</b> <%= hero.powerstats.strength %> </li> <br>
  <li><b>Speed:</b> <%= hero.powerstats.speed %> </li> <br>
  <li><b>Durability:</b> <%= hero.powerstats.durability %> </li> <br>
  <li><b>Power:</b> <%= hero.powerstats.power %> </li> <br>
  <li><b>Combat:</b> <%= hero.powerstats.combat %> </li> <br>
  <li><b>Publisher:</b> <%= hero.biography.publisher %> </li> <br>
  <li><b>Alignment:</b> <%= hero.biography.alignment %> </li> <br>
  <li><b>Gender:</b> <%= hero.appearance.gender %> </li> <br>
  <li><b>Race:</b> <%= hero.appearance.race %> </li>
  <li><b>Occupation:</b> <%= hero.work.occupation %> </li>
  <li><b>Base:</b> <%= hero.work.base %> </li>
</ul>






</div>


<%- include('../partials/footer') %>
